node_modules
.git
.gitignore
.DS_Store

.nitro
.output
.tanstack
.vinxi
.tmp
.data
dist
dist-ssr
__unconfig*

.env.local

*.md
!README.md

coverage
.vite
.vitest

.github
.gitlab-ci.yml
docker-compose.yml
Dockerfile
.dockerignore

todos.json
